.feed-card img {
    max-height: 35vh;
    overflow: hidden;
    
  }
  
  ion-content.background{
    --background: url(../../assets/wallpaper.jpg) 0 0/100% 100% no-repeat;
}

.feed-card {
  background-color: #ffffff; 
}

agm-map {
  height: 300px;
}