ion-content.background{
    --background: url(../../assets/wallpaper.jpg) 0 0/100% 100% no-repeat;
}


ion-item{
  border: 1px solid gray;
  border-radius: 10px;
  
}


h1{
  margin-top: 100px;
  font-family: sans-serif;
}

ion-label.font{
  font-family: sans-serif;
}

ion-input{
  font-family: sans-serif;
}

ion-button.font{
  font-family: sans-serif;
  margin-top: 15px;
}

ion-text{
  font-family: sans-serif;
}


div.right{
  font-family: sans-serif;
  text-align: right;
  padding-right: 12px;

}

ion-toolbar{
  font-family: sans-serif;
  border: 1px solid gray;
}




