<ion-header>
  <ion-toolbar>
    <ion-title>Administrator Tools</ion-title>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/findtrip"></ion-back-button>
    </ion-buttons> -->
  </ion-toolbar>

</ion-header>

<ion-content class="background">
  <ion-button expand="block" fill="solid" routerLink="view-users" color="dark">View All Users</ion-button>
  <ion-button expand="block" fill="solid" routerLink="view-pending-drivers" color="dark">Pending Drivers</ion-button>
  <ion-button expand="block" fill="solid" routerLink="report-list" color="dark">Report List</ion-button>
</ion-content>
